@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

#contest-teams-label{
    -fx-font-size: 25px;
    -fx-text-fill: #dc6414;
    -fx-font-family: 'Rampart One', cursive;
    -fx-background-color: #ffffff; 
}
.table-view:row-selection:constrained-resize .column-header-background .nested-column-header .table-column .label{
    -fx-background-color:  #ebd020;
    -fx-font-size: 13px;
    -fx-text-fill: #2a384c;
    -fx-font-family: 'Secular One', sans-serif;
}