.statistics-header {
    -fx-font-family: 'Lobster', cursive;
    -fx-font-size: 30px;
    -fx-text-fill: #c70f77;
    -fx-padding: 5px;
    -fx-text-position: center;
}
.statistics-text-box {
    border: 1px solid rgb(1, 33, 6);
    padding: 0.5em;
    margin-bottom: 0.5em;
}

#MachineStatistics-image{
    -fx-background-image: url("EncryptDecryptDetails-image3.jpg");
    -fx-background-size: 150% 200%;
    -fx-background-position: bottom right;
}

